/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    margin-top: 32px;
    @include clearfix;
    @include breakpoint(768px, 1024px) {
        width: 1080px;
    }
}

.footer {
    &__menu {
        background: #F0F0F0;
        padding: 12px 0px;
        font-size: 0;
        a {
            color: #555555;
            width: 16.66%;
            display: inline-block;
            font-size: 14px;
            line-height: 1.4em;
            padding: 12px 0;
            vertical-align: top;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    &__logo {
        img {
            width: 60px;
            height: auto;
            float: left;
            margin-right: 12px;
        }
    }
    &__info {
        border-top: 1px solid #DDDDDD;
        background: #EAEAEA;
        padding: 16px 0;
        font-size: 0;
        p {
            color: #333;
            font-size: 14px;
            line-height: 17px;
            &+p {
                margin-top: 8px;
            }
        }
    }
    &__col {
        width: 50%;
        display: inline-block;
        &:nth-child(2n) {
            text-align: right;
        }
    }
}