/* ====================================   Header's style   ==================================== */

#site-header {
    @include clearfix();
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
    @include breakpoint(768px, 1024px) {
        width: 1080px;
    }
}

.site-header {
    &__topbar {
        @include clearfix();
        padding: 0 10px;
        background-color: #f0f0f0;
        font-size: 12px;
        line-height: 35px;
        color: #555;
        z-index: 5;
        time {
            float: left;
        }
    }
    &__tool {
        float: right;
        .search-wrap {
            width: 300px;
            margin-left: 16px;
            float: right;
        }
    }
    &__links {
        float: left;
        a,
        span {
            margin-left: 16px;
            color: #555;
        }
        a:hover {
            color: $brand-primary;
        }
        .sprites {
            vertical-align: middle;
            border-radius: 2px;
            &+.sprites {
                margin-left: 4px;
            }
        }
    }
    &__content {
        // text-align: center;
        padding: 24px 0;
        .logo {
            float: left;
            img {
                height: 90px;
                width: auto;
            }
        }
        .qc {
            float: left;
            margin-left: 32px;
            margin-bottom: 0;
        }
        .tool {
            width: 140px;
            float: right;
            text-align: center;
        }
        .social-listing {
            margin-top: 6px;
        }
    }
    &__social {
        >p {
            font-size: 12px;
        }
    }
    &__nav {
        background: $brand-primary;
        background: darken($brand-primary, 15%);
        &.affix {
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;
        }
    }
}

.navigator {
    @include clearfix();
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    margin-left: -8px;
    margin-right: -8px;
    >li {
        float: left;
        position: relative;
        margin-right: 1px;
        a {
            display: block;
            padding: 0 8px;
            transition: background 0.2s linear, color 0.2s linear;
            color: white;
            &:hover {
                background-color: #bf081d;
            }
        }
        &:hover {
            .navigator__child {
                left: auto;
            }
            .navigator__search {
                right: 0;
            }
        }
        &:first-child {
            .sprite-home {
                position: relative;
                top: 2px;
            }
            &:hover,
            &.is-active {
                .sprite-home {
                    // background-position-x: -23px;
                }
            }
        }
        &.is-active {
            a {
                background-color: #eee;
                color: $brand-primary;
            }
        }
        &.is-featured {
            >a {
                line-height: 29px;
                margin-top: 3px;
                margin-bottom: 3px;
                border-radius: 2px;
                background: #eee;
                color: $brand-primary;
                &:hover {
                    line-height: 35px;
                    border-radius: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        &:last-child {
            &:hover {
                .navigator__child {
                    left: initial;
                    right: -100px;
                }
            }
        }
    }
    &__child {
        position: absolute;
        top: 100%;
        left: -999em;
        width: 220px;
        z-index: 2;
        @include has-shadow();
        >li {
            a {
                background-color: darken($brand-primary, 15%);
                background-color: #bf081d;
                &:hover {
                    background-color: #bf081d;
                    text-decoration: underline;
                }
            }
        }
    }
}

// video page Header