#site-content {
    @include clearfix;
    margin-bottom: 32px;
}

.site-wrap {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
    &.has-qc-floating {
        position: relative;
    }
}

.main-col {
    width: 825px;
    float: left;
}

.sidebar-col {
    width: 300px;
    float: right;
}

// zone group 
.zone {
    &-wrap {
        @include clearfix;
    }
    &--aside {
        width: 202px;
        float: right;
    }
    &--group {
        width: 652px;
        float: left;
        @include clearfix;
        margin-left: -8px;
        margin-right: -8px;
    }
    &--column {
        width: 50%;
        float: left;
        padding: 0 8px;
    }
    &--highlight {
        width: 572px;
        float: left;
        .story-listing {
            @include clearfix;
            margin: 16px -8px 0;
            font-size: 0;
            >li {
                vertical-align: top;
                width: 33.33%;
                display: inline-block;
                padding: 0 8px;
                margin-bottom: 8px;
            }
        }
    }
    &--latest {
        width: 236px;
        float: right;
    }
    &--primary {
        .story--featured {
            width: 376px;
            float: left;
        }
        .story-listing {
            width: 432px;
            float: right;
        }
    }
}

&.two-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;
    >* {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }
}

&.four-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;
    >* {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }
}

&.three-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;
    >* {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }
}

// area
.area {
    margin-bottom: 24px;
    background: #f0f0f0;
    padding: 16px 0 0;
    .zone {
        margin-bottom: 0;
    }
    .story {
        margin-bottom: 16px;
        &+.story {
            margin-top: 0;
        }
    }
    &--grey {
        background: #888;
        .zone__title {
            a {
                color: white;
                &:hover {
                    color: #ccc;
                }
            }
        }
        .story {
            .story__title {
                a {
                    color: white;
                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
    }
}

// index main featured zone
.main--featured {
    @include clearfix;
    margin-bottom: 24px;
    .zone--grey {
        width: 356px;
        float: left;
    }
    .zone-listing {
        float: right;
        width: 452px;
        .story {
            width: 257px;
            float: left;
        }
    }
    .story-listing {
        width: 180px;
        float: right;
        .story {
            width: 100%;
            float: none;
        }
    }
}

// category
.cate {
    &--highlight {
        @include clearfix;
    }
    &--second {
        .story--highlight {
            margin-bottom: 16px;
            .story__thumb {
                margin-right: 16px;
                float: left;
                margin-bottom: 0;
            }
        }
        .story-listing {
            margin-bottom: 24px;
            @extend .four-cols;
        }
    }
    &--third {
        .story--highlight {
            width: 50%;
            float: left;
        }
        .story-listing {
            width: 50%;
            float: right;
            margin-bottom: 24px;
            @extend .two-cols;
            li {
                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// fix width for gif image
.story--gif {
    .story__thumb {
        .zone--primary .story-listing & {
            width: 180px;
        }
        @at-root .main--featured .zone--grey & {
            width: 80px;
            a {
                padding-bottom: 75%;
            }
        }
        @at-root .sidebar-col .zone & {
            width: 80px;
            a {
                padding-bottom: 75%;
            }
            .bx-wrapper {
                width: 100%;
                a {
                    padding-bottom: 55.6%;
                    ;
                }
            }
        }
    }
    &.story--horizontal {
        @at-root .zone-listing .zone & {
            .story__thumb {
                width: 80px;
                a {
                    padding-bottom: 75%;
                }
            }
        }
    }
}