.video {
    &--highlight {
        .story--highlight {
            width: 562px;
            float: left;
        }
        .story-listing {
            width: 578px;
            float: right;
            >li {
                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 16px;
                }
            }
        }
    }
    &--listing {
        .story-listing {
            >li {
                margin-bottom: 16px;
            }
        }
    }
    &__player {
        background: #333;
        text-align: center;
        margin-bottom: 16px;
    }
}

.article {
    &--video {
        padding-right: 0;
        display: table;
    }
    &__header,
    &__content,
    &__footer {
        .article--video & {
            width: 100%;
            float: none;
        }
    }
    &__header{
    	display: table-row-group;
    }
    &__content{
    	display: table-header-group;
    }
    &-comments {
        .article--video & {
            @include clearfix;
            .zone-content {
                margin-left: -8px;
                margin-right: -8px;
            }
            .box-input,
            .box-user-comm {
                width: 50%;
                float: left;
                padding: 0 8px;
                margin-top: 0;
            }
            .box-user-comm {
                max-height: 185px;
                overflow: auto;
            }
        }
    }
}