/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 24px;
    &__header {
        margin-bottom: 12px;
        font-family: $font-family-special;
        font-size: 0;
    }
    &__title {
        font-size: 22px;
        line-height: 1em;
        position: relative;
        margin-bottom: 12px;
        color: $brand-primary;
        text-transform: uppercase;
        &:hover {
            color: $brand-success;
            &::after {
                background: $brand-success;
            }
        }
        .zone--featured & {
            color: white;
            &::after {
                background: white;
            }
            &:hover {
                color: $brand-primary;
                &:after {
                    background: $brand-primary;
                }
            }
        }
    }
    &__sub-title {
        font-size: 12px;
        line-height: 25px;
        &+.zone__sub-title {
            &::before {
                content: '/';
                padding-right: 8px;
                margin-left: 8px;
            }
            &:hover {
                &::before {
                    color: #000;
                }
            }
        }
        .zone--featured & {
            color: white;
            &:hover {
                color: $brand-primary;
                &::before {
                    color: #fff;
                }
            }
        }
    }
    &__content {
        @include clearfix();
    }
    &--grey {
        background: #F0F0F0;
        padding: 8px;
    }
    &--featured {
        background: #111;
        padding: 16px;
    }
    .sidebar-col &{
        .zone__title{
            font-size: 16px;
        }
    }
}

// ads
.qc {
    @include clearfix();
    margin-bottom: 24px;
    text-align: center;
}

// breaking zone
.breaking {
    &-wrap {
        @include clearfix;
        margin-bottom: 16px;
        font-size: 12px;
    }
    &__label {
        padding: 4px 8px;
        background: #F0F0F0;
        margin-right: 12px;
        float: left;
        text-align: center;
        position: relative;
        &::after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid #f0f0f0;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: 7px;
            right: -5px;
        }
    }
    &__listing {
        float: left;
        line-height: 25px;
        @include clearfix;
        height: 25px;
        overflow: hidden;
        width: 1064px;
    }
    &__item {
        float: left;
        &+.breaking__item {
            margin-left: 8px;
            &::before {
                display: inline;
                content: '●';
                margin-right: 8px;
                color: #555;
            }
        }
    }
}