/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 24px;
    &__header {
        @include clearfix;
        margin-bottom: 12px;
        font-family: $font-family-special;
        font-size: 0;
        .form-control {
            width: 140px;
            float: right;
            height: 30px;
        }
    }
    &__title {
        font-size: 22px;
        line-height: 1em;
        position: relative;
        color: $brand-primary;
        text-transform: uppercase;
        float: left;
        &:hover {
            color: $brand-success;
            &::after {
                background: $brand-success;
            }
        }
        a {
            color: $brand-primary;
            &:hover {
                color: $brand-success;
            }
        }
        .zone--featured & {
            color: white;
            &::after {
                background: white;
            }
            &:hover {
                color: $brand-primary;
                &:after {
                    background: $brand-primary;
                }
            }
        }
    }
    &__control {
        float: right;
        .prev,
        .next {
            display: inline-block;
            margin-left: 8px;
            background: #f0f0f0;
            font-size: 14px;
            line-height: 24px;
            width: 24px;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                color: black;
                background: #ccc;
            }
        }
    }
    &__sub-title {
        font-size: 12px;
        line-height: 25px;
        &+.zone__sub-title {
            &::before {
                content: '/';
                padding-right: 8px;
                margin-left: 8px;
            }
            &:hover {
                &::before {
                    color: #000;
                }
            }
        }
        .zone--featured & {
            color: white;
            &:hover {
                color: $brand-primary;
                &::before {
                    color: #fff;
                }
            }
        }
    }
    &__content {
        @include clearfix();
    }
    &--grey {
        background: #F0F0F0;
        padding: 8px;
    }
    &--featured {
        background: #888;
        padding: 8px;
        .no-js &{
            max-height: 250px;
            overflow: hidden;
        }
        .zone__header {
            margin-bottom: 8px;
        }
        .zone__title {
            a {
                color: white;
                &:hover {
                    color: #ddd;
                }
            }
        }
    }
    .sidebar-col &,
    &--aside {
        .zone__title {
            font-size: 16px;
            line-height: 30px;
        }
    }
    &--media {
        position: relative;
        .bx-pager {
            position: absolute;
            top: 21px;
            right: 8px;
            &-item {
                float: left;
                &+.bx-pager-item {
                    margin-left: 8px;
                }
                a {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    text-indent: -999em;
                    background: #444;
                    &.active {
                        background: white;
                    }
                }
            }
        }
        .story {
            &+.story {
                margin-top: 0;
            }
        }
    }
}

// ads
.qc {
    @include clearfix();
    margin-bottom: 24px;
    text-align: center;
}

// breaking zone
.breaking {
    &-wrap {
        @include clearfix;
        margin-bottom: 16px;
        font-size: 12px;
    }
    &__label {
        padding: 4px 8px;
        background: #F0F0F0;
        margin-right: 12px;
        float: left;
        text-align: center;
        position: relative;
        &::after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid #f0f0f0;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: 7px;
            right: -5px;
        }
    }
    &__listing {
        float: left;
        line-height: 25px;
        @include clearfix;
        height: 25px;
        overflow: hidden;
        width: 1064px;
    }
    &__item {
        float: left;
        &+.breaking__item {
            margin-left: 8px;
            &::before {
                display: inline;
                content: '●';
                margin-right: 8px;
                color: #555;
            }
        }
    }
}

.qc {
    &--floating {
        position: absolute;
        top: 0;
    }
    &--left {
        right: 100%;
        margin-right: 10px;
    }
    &--right {
        left: 100%;
        margin-left: 10px;
    }
}