/* Search & ulti box */

.search {
    &-wrap {
        position: relative;
        margin-top: 5px;
        .form-control {
            height: 25px;
            font-size: 12px;
            border: none;
        }
        .sprite-search {
            cursor: pointer;
            position: absolute;
            right: 8px;
            top: 6px;
        }
    }
}